<!DOCTYPE html>

<html>
    <head>
        <title>File Metadata</title>
        <link rel="icon" href="/favicon.ico" type="image/x-icon" />
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <!-- <link rel="stylesheet" href="/css/style.css" /> -->
    </head>

    <body>
        <div class="container">
            <h2>Network Packet Analyzer</h2>

            <h3>Usage: ...</h3>
            <p>Please Upload a File ...</p>

            <div class="view">
                <h4 id="output"></h4>
                <form action="/api/packet/analyze" method="POST" enctype="multipart/form-data">
                    <input type="file" name="packetFile" />
                    <input type="submit" value="Upload" />
                </form>
            </div>
        </div>
    </body>
</html>
