html,
body {
    font-family: "monospace";
    color: #00ffff;
    background-color: #222222;
    text-align: center;
}

.container {
    padding: 0;
    margin-top: 40px;
}

.footer {
    margin-top: 60px;
}

a {
    color: #2574a9;
}

input {
    display: block;
    position: relative;
    margin: 10px auto;
}

input#button {
    width: 230px;
}

.view {
    position: relative;
    margin: auto;
    margin-top: 40px;
    border: 1px dashed #fff000;
    padding: 20px;
    width: 60%;
    min-width: 400px;
}
